<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="t-heade">
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    <h2>Login</h2>
    <p class="bck"><%= link_to raw('&#8592;'), root_path, class: "bck-link" %></p>
  </div>
  
    <div class="field">
      <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password" %>
    </div>
  
  
  
  <% end %>
  