<%= render partial: 'layouts/header' %>

<h2 class="cat-h2">Create a New Category</h2>

<%= form_with(model: @category, url: categories_path, local: true) do |form| %>
  <div class="cat-name">
    <%= form.text_field :name, placeholder: 'Category Name' %>
  </div>

  <div class="cat-icon">
    <%= form.text_field :icon, placeholder: 'Icon' %>
  </div>

  <div class="cat-sub">
    <%= form.submit "Save Category" %>
  </div>
<% end %>
