<!-- app/views/transactions/index.html.erb -->
<div class="t-head">
  <h2>Transactions for <%= @category.name %></h2>
  <p class="bck"><%= link_to raw('&#8592;'), categories_path, class: "bck-link" %></p>
</div>
<p>Total Amount: $<%= @category.total_amount %></p>
<% @transactions.each do |transaction| %>
  <div class="transaction">
    <h3><%= transaction.name %></h3>
    <p>Amount: $<%= transaction.amount %></p>
  </div>
<% end %>
<p class="add-trans">
  <%= link_to 'Add Transaction', new_category_transaction_path(@category) %>
</p>
